

				<mat-toolbar class="mat-toolbar mat-elevation-z6" color="primary">
					<i (click)="sidenav.open()"class="material-icons md-48">menu</i>
					<li>Menu</li>
				</mat-toolbar>

				<mat-sidenav-container class="example-container">
					<mat-sidenav #sidenav class="example-sidenav">
						<nav>
							<h3>Standings</h3>
							<ul>
								<li><a routerLink="/nba-standings"href="#">Overall Team Standings</a></li>
								<li>Division Team Standings</li>
								<li>Playoff Team Standings</li>
							</ul>
						</nav>
						<nav>
							<h3>Players</h3>
							<ul>
								<li>Roster Players</li>
								<li>Starting Game Lineup</li>
								<li>Active Players</li>
							</ul>
						</nav>
						<nav>
							<h3>Stats</h3>
							<ul>
								<li>Cumulative Player Stats</li>
								<li>Daily Player Stats</li>
							</ul>
						</nav>
					</mat-sidenav>
					<div class="example-sidenav-content">
						<router-outlet></router-outlet>
					</div>
				</mat-sidenav-container>



