$total-columns:12;
$col-widths:();

@for $i from 1 through $total-columns{
    @media all and(min-width:800px) and (max-width:1280px)  {
        .col-lg-#{$i}{
            flex:1 0 ($i/12)*100%-2%;
            padding-right:0.5rem;
            padding-left:0.5rem;
        }
    }
    @media all and (max-width:600px){
        .col-sm-#{$i}{
            flex:1 0 ($i/12)*100%-2%;
            padding-right:0.5rem;
            padding-left:0.5rem;
        }
    }
    @media all and (max-width:800px) and (min-width:600px){
        .col-md-#{$i}{
            flex:1 0 ($i/12)*100%;
            padding-right:0.5rem;
            padding-left:0.5rem;
        }
    }
}

.row{
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }