<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>
<!-- User NOT logged in -->
<ng-template #guest>

    <mat-card>
            <div class="form-container">
                    <!-- <mat-card-title>
                            <h3>Howdy, GUEST</h3>
                    </mat-card-title>
                    <mat-card-subtitle>
                            <p>Login to get started...</p>
                    </mat-card-subtitle>
                        <mat-form-field>
                            <input matInput placeholder="Email">
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder="Password">
                        </mat-form-field>
                        <button  class="button" (click)="auth.googleLogin()">
                            <i class="fa fa-google"></i> Connect Google
                        </button>
                        <button class="button">
                            Login
                        </button>
                        <button class="button">
                                Register
                        </button> -->
                        <user-form></user-form>
            </div>
        </mat-card>

</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img  [src]="user.photoURL">
        <p>UID: {{ user.uid }}</p>
        <p>Favorite Color: {{ user?.favoriteColor }} </p>
        <button (click)="auth.signOut()">Logout</button>
    </div>
</ng-template>