.form-container{
    display:flex;
    flex-direction:column;
}
.form-container >* {
    width: 100%;
}

mat-card{
    margin-top:80px;
    width:400px;
}

.button{
    background-color:white;
    padding:1em;
    border-radius:2px;
    cursor: pointer;
    width:40px;
}